<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<% @shows.each do |show| %>
<%= link_to "#{show.date.to_s(:short)} #{show.venue}", show_path(show) %><br>
<% end %>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
