<%= form_for @preroll do |f| %>
  
  <p>   
    <%= f.label "Date" %>
    <%= f.date_select(:date) %>
    <%= f.label "Action" %>
    <%= f.collection_select(:action_type_id, ActionType.all, :id, :action) %>
    <%= f.label "Location1" %>
    <%= f.collection_select(:loc1, Location.all, :id, :name) %>
    <%= f.label "Location2" %>
    <%= f.collection_select(:loc2, Location.all, :id, :name) %><br>
<br>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>