<%= form_for @item do |f| %>
  <% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited
      this item from being saved:</h2>
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<div class="row">
<div class="col-md-2 col-md-offset-5">
<form role="form">
  <div class="form-group">
    <%= f.text_field :name, :placeholder => 'Name', class: 'form-control'%>
    <%= f.text_field :sub, :placeholder => 'Size/Media', class: 'form-control' %>
    <%= f.number_field :rate, :placeholder => '$', class: 'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :soft, class:'col-sm-2 control-label' %>
    <%= f.check_box :soft, class: 'checkbox-inline' %>
  </div>
    <div class="form-group">
    <%= f.label :active, class:'col-sm-2 control-label' %>
    <%= f.check_box :active, checked: true, class: "checkbox-inline" %>
  </div>

 
  <p>
    <%= f.submit "Add to my box", class:"btn btn-primary"%>
  </p>
<% end %>
</form>
  </div>
</div>