<h1><%=current_user.group.name.possessive  %> Items</h1>
 
<table class="u-full-width">
  <thead>
  <tr>
    <th>Name</th>
    <th>Size/Media</th>
    <th>Rate</th>
    <th>Active</th>
    <th>Soft</th>
    <th></th>    
  </tr>
 </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.sub %></td>
      <td><%= item.rate %></td>
      <td><%= check_box_tag 'active', '1', item.active, :disabled => true %></td>
      <td><%= check_box_tag 'soft', '1', item.soft, :disabled => true %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>

    </tr>
  <% end %>
    </tbody>
</table>
<%= link_to 'Add New Item', new_item_path %>
