<%= form_for (@show), :html => { :method => :post } do %>
<table class="u-full-width">
  <thead>
    <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <% count = Count.new(:item_id => item.id) %>
      <%= fields_for "count[]", count do |f| %>
    <tr class="form">
      <%= f.hidden_field :show_id, :value => @show.id %>
      <%= f.hidden_field :date, :value => @show.date %>
      <%= f.hidden_field :oldquant, :value => item.remaining(@primary.id) %>
      <%= f.hidden_field :item_id, :value => item.id %>
      <%= f.hidden_field :loc1, :value => @primary.id %>
      <% if params[:direction] == "in" %>
        <%= f.hidden_field :action_id, :value => 4 %>
        <%= f.hidden_field :out, :value => false %>
      <% else %>
        <%= f.hidden_field :action_id, :value => 1 %>
        <%= f.hidden_field :out, :value => true %>
      <% end %>
      <%= f.hidden_field :rate, :value => item.rate %>
      <td><%= item.name_with_sub %></td>
      <td><%= f.number_field :quantity, :placeholder => item.remaining(@primary.id), :min =>0 %></td>
      <td><%=  %></td>
    </tr>
      <% end %>
    <% end %>
  </tbody>
  </table>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>