<%= form_for @count, :html => { :method => :post } do %>
<table class="u-full-width">
  <thead>
    <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <% count = Count.new(:item_id => item.id) %>
      <%= fields_for "count[]", count do |f| %>
    <tr class="form">
      <%= f.hidden_field :show_id, :value => @show.id %>
      <%= f.hidden_field :oldquant, :value => item.remaining(@primary.id) %>
      <%= f.hidden_field :item_id, :value => item.id %>
      <td><%= item.name_with_sub %></td>
      <td><%= f.number_field :in, :placeholder => item.remaining(@primary.id), :min =>0 %></td>
      <td><%=  %></td>
    </tr>
      <% end %>
    <% end %>
  </tbody>
  </table>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>