<%= form_for @transaction, :html => { :method => :post } do %>
<h1>Add to <%= Location.find_by(id: FIXME.loc1).name %></h1>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <% transaction = Transaction.new(:item_id => item.id) %>
      <%= fields_for "transaction[]", transaction do |f| %>
    <tr class="form">
      <%= f.hidden_field :date, :value => FIXME.date %>
      <%= f.hidden_field :action_id, :value => 2 %>
      <%= f.hidden_field :loc1, :value => 1 %>
      <%= f.hidden_field :loc2, :value => FIXME.loc1 %>
      <%= f.hidden_field :item_id, :value => item.id %>
      <td><%= item.name_with_sub %></td>
      <td><%= f.number_field :quantity %></td>
    </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>