<%= form_for @transaction, :html => { :method => :post } do %>
<h1>Add to <%= Location.find_by(id: @preroll.loc1).name %></h1>
<table>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
    <% @items.each do |item| %>
      <% transaction = Transaction.new(:item_id => item.id) %>
      <%= fields_for "transaction[]", transaction do |f| %>
    <tr class="form">
      <%= f.hidden_field :date, :value => @preroll.date %>
      <%= f.hidden_field :action_id, :value => 2 %>
      <%= f.hidden_field :loc1, :value => 1 %>
      <%= f.hidden_field :loc2, :value => @preroll.loc1 %>
      <%= f.hidden_field :group_id, :value => current_user.group_id %>
      <td><%= f.collection_select(:item_id, @items, :id, :name_with_sub) %></td>
      <td><%= f.number_field :quantity %></td>
      <%# Transaction.remain(item, @preroll.loc1) %>
      <td><%= Item.remaining(item, @preroll.loc1) %></td>
    </tr>
      <% end %>
    <% end %>
  </table>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>