<%= form_for @transaction do |f| %>
  <% if @transaction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited
      this transaction from being saved:</h2>
    <ul>
    <% @transaction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <%= f.label :item_id %>
    <%= f.collection_select(:item_id, @items, :id, :name_with_sub) %>
    <%= f.label :action_id %>
    <%= f.collection_select(:action_id, Action.all, :id, :action) %>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
If you need to change the location, just detroy this action and make a new one!

 