<%= form_for :transaction, :url => update_all_path, :html => { :method => :put } do %>
  <table>
    <tr>
      <th>Date</th>
      <th>Item</th>
      <th>Action</th>
      <th>Quantity</th>
      <th>From</th>
      <th>To</th>
    </tr>
    <% @transactions.each do |transaction| %>
      <%= fields_for "transaction[]", transaction do |f| %>
    <tr>
      <td><%= f.date_field :date %></td>
      <td><%= f.collection_select(:item_id, @items, :id, :name_with_sub) %></td>
      <td><%= f.collection_select(:action_id, Action.all, :id, :action) %></td>
      <td><%= f.number_field :quantity %></td>
      <td><%= f.collection_select(:loc1, @locations, :id, :name) %></td>
      <td><%= f.collection_select(:loc2, @locations, :id, :name) %></td>
    </tr>
      <% end %>
    <% end %>
  </table>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>