<h1><%=current_user.group.name.possessive  %> Actions</h1>
<%= will_paginate @transactions %>
<table class="u-full-width">
  <thead>
  <tr>
    <th>Date</th>
    <th>Item</th>
    <th>Action</th>
    <th>Quantity</th>
    <th>From</th>
    <th>To</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date.strftime("%-m/%-d/%y") %></td>
      <td><%= transaction.item_id ? transaction.item.name_with_sub : "" %></td>
      <td><%= transaction.action_id ? transaction.action.action : "" %></td>
<% if !transaction.loc1 %> 
<td class="pos">
<% elsif !transaction.loc2 %> 
<td class="neg">
    <% else %>
  <td>
    <% end %>
<%= transaction.quantity %></td>
      <td><%= transaction.loc1 ? Location.find(transaction.loc1).name : "" %></td>
      <td><%= transaction.loc2 ?  Location.find(transaction.loc2).name : "" %></td>
      <td><%= transaction.show_id %></td>
      <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
      <td><%= link_to 'Destroy', transaction_path(transaction), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>


<%= link_to 'Back Home', root_path %>
<%= link_to 'Edit All', edit_all_path() %>