<h1><%=current_user.group.name.possessive  %> Actions</h1>
 
<% if @locations.any? && @items.any? %>
<%= form_for @preroll do |f| %>
  
  <p>   
    <%= f.date_field(:date, value: Date.today) %>
    <%= f.collection_select(:action_id, Action.all, :id, :action) %>
    <%= f.collection_select(:loc1, @locations, :id, :name) %>
      <%= f.hidden_field :group_id, :value => current_user.group_id %>
    <%= f.submit "Lez do it" %>
  </p>

<% end %>
<% else %>
Go make some items and locations!
<% end %>
<%= will_paginate @transactions %>
<table class="u-full-width">
  <thead>
  <tr>
    <th>Date</th>
    <th>Item</th>
    <th>Action</th>
    <th>Quantity</th>
    <th>From</th>
    <th>To</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date.strftime("%-m/%-d/%y") %></td>
      <td><%= transaction.item_id ? transaction.item.name_with_sub : "" %></td>
      <td><%= transaction.action_id ? transaction.action.action : "" %></td>
      <% if transaction.action_id == 1 %>
<td class="neg">
<% elsif transaction.action_id == 2 %>
  <td class="pos">
<% elsif transaction.action_id == 4 && transaction.loc1 == 1 %> 
<td class="pos">
<% elsif transaction.action_id == 4 && transaction.loc2 == 1 %> 
<td class="neg">
    <% else %>
  <td>
    <% end %>
<%= transaction.quantity %></td>
      <td><%= transaction.loc1 ? Location.find(transaction.loc1).name : "" %></td>
      <td><%= transaction.loc2 ?  Location.find(transaction.loc2).name : "" %></td>

      <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
      <td><%= link_to 'Destroy', transaction_path(transaction), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>


<%= link_to 'Back Home', root_path %>
<%= link_to 'Edit All', edit_all_path() %>