<%= form_for :transaction, :url => create_batch_path, :html => { :method => :put } do %>
  <table>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
    <% @items.each do |item| %>
      <% transaction = Transaction.new(:item_id => item.id) %>
      <%= fields_for "transaction[]", transaction do |f| %>
    <tr>
      <%= f.hidden_field :date, :value => @preroll.date %>
      <%= f.hidden_field :action_id, :value => '1' %>
      <%= f.hidden_field :loc1, :value => @location.id %>
      <%= f.hidden_field :loc2, :value => 1 %>
      <td><%= f.collection_select(:item_id, Item.all, :id, :name_with_sub) %></td>
      <td><%= f.number_field :quantity %></td>

    </tr>
      <% end %>
    <% end %>
  </table>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>