<%= form_for(@show) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= @show.venue %>
<%= f.fields_for :guests do|guest| %>

<%= render 'guest_fields', :f => guest %>

<% end %>

<div>
  <%= link_to_add_association 'add guest', f, :guests %>
</div><br>
  <div class="field">
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>

