<table>
  <tr>
    <th>Item</th>
    <% @locations.each do |location| %>
    <th><%= location.name %></th>
    <% end %>
    <th>Avg Sales</th>
    <th>Til Gone</th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name_with_sub %></td>
    	<% @locations.each do |location| %>
      <td><%= Transaction.remain(item, location) %></td>
	<% end %>
        	<td><%= Transaction.avgitem(item) %></td>
        	<td><%= Transaction.goneitem(item) %></td>
    </tr>
  <% end %>
</table>
