<h1>Sub Report</h1>

<table class="u-full-width">
  <thead>
    <tr>
    <th>Sub</th>
    <% @locations.each do |location| %>
    <th><%= location.name %></th>
    <% end %>
   <th>Avg Sales</th>
   <th>Til Gone</th>
  </tr>
  </thead>
  <tbody>
  <% @subs.each do |sub| %>
    <tr >
      <td><%= sub %></td>
    	<% @locations.each do |location| %>
        	<td><%= Transaction.subrpt(sub,location) %></td>
	<% end %>
        <td><%= Transaction.avgsub(sub) %></td>
        <td><%= Transaction.gonesub(sub) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
