<h1>Summary Report</h1>

<table>
  <tr>
    <th>Item</th>
    <% @locations.each do |location| %>
    <th><%= location.name %></th>
    <% end %>
    <th>Average Deployment</th>
    <th>Until gone </th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name_with_sub %></td>
    	<% @locations.each do |location| %>
        	<td><%= Transaction.sumrpt(item, :loc2, location) - Transaction.sumrpt(item, :loc1, location) %></td>
	<% end %>
        	<td><%= Transaction.avgitem(item) %></td>
        	<td><%= Transaction.goneitem(item) %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add New Location', new_location_path %>
<%= link_to 'Back Home', root_path %>