<h1><%=current_user.group.name.possessive  %> Locations</h1>
 
<table class="u-full-width">
  <thead>
  <tr>
    <th>Location</th>
    <th>Primary</th>
    <th>Active</th>
    <th></th>    
  </tr>
  </thead>
  <tbody>
  <% @locations.each do |location| %>
    <tr>
      <td><%= location.name %></td>
      <td><%= radio_button_tag 'primary', '1', location.primary, :disabled => true %></td>
      <td><%= check_box_tag 'active', '1', location.active, :disabled => true %></td>
      <td><%= link_to 'Edit', edit_location_path(location) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Add New Location', new_location_path %>
