<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" /> <title>Inventory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<ul>
  <li><%= link_to 'Home', root_path, :class => 'nav' %></li>
  <li><%= link_to 'Items', items_path, :class => 'nav' %></li>
  <li><%= link_to 'Locations', locations_path, :class => 'nav' %></li>
  <li><%= link_to 'Trans', transactions_path, :class => 'nav' %></li>
  <li><%= link_to 'Rprts', reports_path, :class => 'nav' %></li>
</ul>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

<p><% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <ul><li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav' %></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav'  %></li>
<% else %>
  <li><%= link_to "Sign up", new_user_registration_path, :class => 'nav'  %></li>
  <li><%= link_to "Login", new_user_session_path, :class => 'nav'  %></li>
    <% end %></ul></p>

</body>
</html>
